@import "colors";

@media all {

    .update-button, .update-button:focus, .update-button:hover{
        background: $secondary !important;
        color: $black !important;
        border: 0;
        border-radius: 0%;
        flex : 1;
        height: 100%;
        width: 50%;
        font-size: calc(1vw + 1vh);
    }
}